<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>
<h1>Welcome to Unifityoga!</h1>
<h2>Unifityoga is an online marketplace for buying and selling yoga equipment.</h2>
<p>Copyright 2017</p>